{% extends "layout.html" %}
{% block title %}
Our Doctors
{% endblock %}

{% block main %}
<form action="/our_doctors" method="POST">
    {% if session['user_id']  %}
    {% if session['user_id'] != 1 %}
    <div>
        Reserve a doctor
    </div>
    <p></p>
    <select class="form-select mx-auto w-auto" name = "doctor_name">
        <option disabled selected >Doctor name</option>
        {% for doctor in Doctors %}
        <div class="mb-3">
            <option class="form-select mx-auto w-auto">{{doctor.Doctor_name}}</option>
        </div>
        {% endfor %}
    </select>
        <p></p>
        <select class="form-select mx-auto w-auto" name = "doctor_day">
            <option disabled selected >Day</option>
            <div class="mb-3">
                <option class="form-select mx-auto w-auto">Saturday</option>
                <option class="form-select mx-auto w-auto">Sunday</option>
                <option class="form-select mx-auto w-auto">Monday</option>
                <option class="form-select mx-auto w-auto">Tuesday</option>
                <option class="form-select mx-auto w-auto">Wednesday</option>
                <option class="form-select mx-auto w-auto">Thrusday</option>
                <option class="form-select mx-auto w-auto">Friday</option>
            </div>
        </select>
    <p></p>
    <button type="submit" class="btn btn-primary">Reserve</button>
    {% endif %}
    {% endif %}
    <p></p>
    <p style="color:red;">{{message_1}}</p>
    <p style="color:green;">{{message_2}}</p>

    <div class="container">
        {% for doctor in Doctors %}
        <p></p>
        <div class="doctor-card">
          <div class="row align-items-center">
            <div class="col-md-9">
              <div class="doctor-info">
                <h3 class="doctor-name text-primary">Doctor: {{ doctor.Doctor_name }}</h3>
                <p class="doctor-specialty text-muted">Specialty: {{ doctor.Doctor_specialty }}</p>
                <p class="days-available">Days Available: {{ doctor.Days_available }}</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="doctor-image">
                <img src="static/Doctors_photos/Doctor_id_{{doctor.Doctor_id}}.jpg" class="img-thumbnail" onerror="reloadImage(this)">
              </div>
            </div>
          </div>
        </div>
        <p></p>
        {% endfor %}
      </div>
      <script>
        function reloadImage(image) {
          image.onerror = null; // Remove the onerror event to prevent an infinite loop
          image.src = "static/Doctors_photos/Image_Doctor.jpg"; // Replace the image source with a placeholder image or any other suitable image
        }
        </script>
</form>
{% endblock %}

