{% extends "layout_2.html" %}

{% block title %}
    Quota
{% endblock %}

{% block main %}
<style>
    #terminal {
        width: 800px;
        height: 400px;
        border: 1px solid #ccc;
        padding: 10px;
        overflow-y: scroll;
    }
    table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
</style>
<h1>Developer Page</h1>

<p></p>
<form method="POST" action="/Quota">
    <div>
        Select Quota
    </div>
    <p></p>
    <select class="form-select mx-auto w-auto" name = "New_Quota">
        <option disabled selected >Available Quota</option>
        <div class="mb-3">
            <option class="form-select mx-auto w-auto">Standard</option>
            <option class="form-select mx-auto w-auto">Plus</option>
            <option class="form-select mx-auto w-auto">Premium</option>
            <option class="form-select mx-auto w-auto">Gold Premium</option>
        </div>
    </select>
    <p></p>
    <button type="submit" class="btn btn-primary">Change</button>
    <p></p>
</form>
<p></p>
<form method="POST" action="/Quota">
    <div>
        Renew Quota Validation Date
    </div>
    <p></p>
    <input class="form-select mx-auto w-auto" name = "Quota_valid_date" type="date">
    <p></p>
    <button type="submit" class="btn btn-primary">Renew Quota</button>
    <p></p>
</form>
<p></p>
    <p><div style="color:red;">{{message_1}}</div><div style="color:green;">{{message_2}}</div></p>
    <p> Currently Active Quota: {{Active_Quota}} Subscription</p>
    <p> Quota Valid Date till:  <div style="color:green;">{{Quota_valid_date}}</div><div style="color:green;">{{Quota_valid_date_old}}</div><div style="color:red;">{{Quota_valid_date_old_2}}</div></p>
    <P> Important Note: After any change on Quota Restart the Server to make the new Quota effect</P>



{% endblock %}