{% extends "layout.html" %}
{% block title %}
Reset Password
{% endblock %}

{% block main %}
<form action = "/resetpassword" method = "POST">
    <div class="mb-3">
        <input type="username" autocomplete="off" placeholder="Enter username" name="username" class="form-control mx-auto w-auto">
    </div>
    <div class="mb-3">
    <input type="password" autocomplete="off" placeholder="Enter the new password" name="resetpassword" class="form-control mx-auto w-auto">
    </div>
    <div class="mb-3">
    <input type="password" autocomplete="off" placeholder="Enter the new password confirmation" name="passwordconfirmation" class="form-control mx-auto w-auto">
    </div>
    <button type="submit" class="btn btn-primary">Reset</button>
</form>
{% endblock %}